


<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Authentication | Change Password | Kamran Syed</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="static/assets/images/favicon.ico" />
      <link rel="stylesheet" href="static/assets/css/libs.min.css">
      <link rel="stylesheet" href="static/assets/css/coinex.css?v=1.0.0"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
  <body class="" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body"></div>
      </div>    </div>
    <!-- loader END -->
      <div style="background-image: url('static/assets/images/auth/01.png')" >  
        <div class="wrapper">
<section class="vh-100 bg-image">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="auth-form">
                                <h2 class="text-center mb-4">Change Password</h2>
                                <form method="post" action="{{ url_for('change_password') }}">
                                    <p>Change Password</p>
                                    <div class="form-floating mb-3 password-input-container">
                                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
                                        <label for="old_password">Old Password</label>
                                        <i class="far fa-eye password-toggle" id="show_old_password" onclick="togglePasswordVisibility('old_password', 'show_old_password')"></i>
                                    </div>
                                    <div class="form-floating mb-3 password-input-container">
                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
                                        <label for="new_password">New Password</label>
                                        <i class="far fa-eye password-toggle" id="show_new_password" onclick="togglePasswordVisibility('new_password', 'show_new_password')"></i>
                                    </div>
                                    <div class="form-floating mb-2 password-input-container">
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                                        <label for="confirm_password">Confirm Password</label>
                                        <i class="far fa-eye password-toggle" id="show_confirm_password" onclick="togglePasswordVisibility('confirm_password', 'show_confirm_password')"></i>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                
                                    <!-- JavaScript to toggle password visibility -->
                                    <script>
                                        function togglePasswordVisibility(inputId, iconId) {
                                            const passwordInput = document.getElementById(inputId);
                                            const passwordIcon = document.getElementById(iconId);
                                
                                            const type = passwordInput.type === 'password' ? 'text' : 'password';
                                            passwordInput.type = type;
                                            passwordIcon.classList.toggle('fa-eye', type === 'password');
                                            passwordIcon.classList.toggle('fa-eye-slash', type === 'text');
                                        }
                                    </script>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        </div>
      </div>
      
    
    <!-- Backend Bundle JavaScript -->
    <script src="static/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="static/assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="static/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="static/assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="static/assets/js/charts/apexcharts.js"></script>
  </body>
</html>